<!DOCTYPE html>
<html>
  <head>
    <title>Madokami</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
